Run Query: Find all the tracks whose name starts with 'All'. **How many total records there are for this query?**

In [1]:
SELECT * FROM actors

SyntaxError: invalid syntax (3349716809.py, line 1)

Run Query: Find all the customer emails that start with "J" and are from gmail.com.

Run Query: Find the albums with 12 or more tracks.

Create a list of album titles and the unit prices for the artist "Audioslave".

Using a subquery, find the names of all the tracks for the album "Californication".

Find the total number of invoices for each customer along with the customer's full name, city and email.

After running the query described above, what is the email address of the 5th person, František Wichterlová?

Retrieve the track name, album, artistID, and trackID for all the albums.

What is the song title of trackID 12 from the "For Those About to Rock We Salute You" ?

Retrieve a list with the managers last name, and the last name of the employees who report to him or her. **Who are the reports for the manager named Mitchell?**

Find the name and ID of the artists who do not have albums.

Use a UNION to create a list of all the employee's and customer's first names and last names ordered by the last name in descending order. **Determine what is the last name of the 6th record** Remember to order things in descending order to be sure to get the correct answer.

See if there are any customers who have a different city listed in their billing city versus their customer city.