In [2]:
# run `!pip install ipython-sql` to install jupyter sql module
# run `!pip install psycopg2` to install postgre sql connection driver
# connect using your student number, e.g. ds22m001

%load_ext sql
%sql postgresql://ds22m031:SVD489JK@mds-dsi-db.postgres.database.azure.com/music-store

ModuleNotFoundError: No module named 'sql'

Try if connection works

In [6]:
%sql select * from albums limit 1

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
1 rows affected.

[(1, 'For Those About To Rock We Salute You', 1)]

Run query: Retrieve all the data from the tracks table. Who is the composer for track 18?

In [7]:
%sql select * from tracks where id = 18

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
1 rows affected.

[(18, 'Bad Boy Boogie', 4, 1, 1, 'AC/DC', 267728, 8776140, Decimal('0.99'))]

In [8]:
%sql select * from tracks where milliseconds > 700000 and unit_price > 1 limit 2

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
2 rows affected.

[(2819, 'Battlestar Galactica: The Story So Far', 226, 3, 18, None, 2622250, 490750393, Decimal('1.99')),
 (2820, 'Occupation / Precipice', 227, 3, 19, None, 5286953, 1054423946, Decimal('1.99'))]

In [9]:
%sql select count(*) from tracks where composer is null

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
1 rows affected.

[(978,)]

In [10]:
%sql select * from tracks where genre_id <> 1 and  genre_id <> 2 limit 2

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
2 rows affected.

[(77, 'Enter Sandman', 9, 1, 3, 'Apocalyptica', 221701, 7286305, Decimal('0.99')),
 (78, 'Master Of Puppets', 9, 1, 3, 'Apocalyptica', 436453, 14375310, Decimal('0.99'))]

In [11]:
%sql select * from genres where id = 1 or id =2

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
2 rows affected.

[(1, 'Rock'), (2, 'Jazz')]

Genre = 1 oder 2 und Unit_price = 0.99 ?

In [12]:
% sql select * from tracks where genre_id = 1 or genre_id = 2 limit 2

UsageError: Line magic function `%` not found.

Selecting all tracks that have unit price = 0.99
or all tracks that are priced with 1.99 and at the same time have genre_id =3

In [ ]:
%sql select * from tracks where unit_price = 0.99 or ( unit_price = 1.99 and genre_id =3) limit 2;

Lookup all tracks that contain the word 'you'

In [ ]:
%sql select * from tracks where name like '%you'

In [ ]:
%sql select * from tracks where lower(name) like '%you%' limit 3

In [ ]:
%sql select * from tracks where lower(name) like 'you%' limit 3

Run Query: Return the Customer Id, Invoice Date, and Billing City from the Invoices table. What city is associated with Customer ID number 42? What was the invoice date for the customer in Santiago?

Run Query: Return the First Name, Last Name, Email, and Phone, from the Customers table. What is the telephone number for Jennifer Peterson?

Retrieve the FirstName, LastName, Birthdate, Address, City, and State from the Employees table. **Which of the employees listed below has a birthdate of 3-3-1965?**

 Find the first and last name of any customer who does not have an invoice. Are there any customers returned from the query?

Find the total price for each album.

What is the total price for the album “Big Ones”? (Based on the tracks)

 How many albums does the artist Led Zeppelin have?