# Assignment 2

### Leveraging NoSQL functionality in a RDBMS

In our last lecturer we have discovered that we can easily blend json and sql data using PostgreSQL's JSONB datatype and its operators.

Part 1.) Now it's your task to provide some answers using the migrated json data. 

Part 2.) Ingest data from an external service. Import data from the New York Times API

In [7]:
%load_ext sql
%sql postgresql://ds22m031:SVD489JK@mds-dsi-db.postgres.database.azure.com/music-store
%sql CREATE TABLE IF NOT EXISTS jtracks(id SERIAL, body JSONB);
%sql copy jtracks(body)	FROM 'library.json'

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
Done.
 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
(psycopg2.errors.InsufficientPrivilege) must be superuser or a member of the pg_read_server_files role to COPY from a file
HINT:  Anyone can COPY to stdout or from stdin. psql's \copy command also works for anyone.

[SQL: copy jtracks(body) FROM 'library.json']
(Background on this error at: https://sqlalche.me/e/14/f405)

## Part 1.) Query jtracks data

Now that we have received information from our 3rd party seller. We would like to evaluate the data and generate some reports.

### Most popular artists
_Which artists have been listened to most often and how often?_

In [10]:
%sql SELECT body->>'artist' AS artist, COUNT(*) AS count FROM jtracks GROUP BY body->>'artist' ORDER BY count DESC LIMIT 10;

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
10 rows affected.

[('IEEE Computer Society', 34),
 ('Recording by Dr. Chuck', 33),
 ('The Canettes Blues Band', 16),
 ('Created by Sakai', 16),
 ('Kaiser Chiefs', 15),
 ('David Osborne', 14),
 ('Disturbed', 12),
 ('Frank Sinatra', 12),
 ('Bryan Lee', 12),
 ('Rammstein', 11)]

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
(psycopg2.errors.InsufficientPrivilege) must be superuser or a member of the pg_read_server_files role to COPY from a file
HINT:  Anyone can COPY to stdout or from stdin. psql's \copy command also works for anyone.

[SQL: copy jtracks(body) FROM 'library.json']
(Background on this error at: https://sqlalche.me/e/14/f405)

### Generate an invoice report

The "counts" field represents the number a specific track has been listened to.
Based on the on the pricing information in the tracks table in, generate a report that calculates the total value per track.

One count equals one single order. 


Further Explanation: If the price of a single track is 0.99 and its count equals 10, the total equals 9.90.

In [12]:
%sql SELECT tracks.id, tracks.name, tracks.unit_price, jtracks.body->>'count' AS count, tracks.unit_price * (jtracks.body->>'count')::numeric AS total FROM tracks, jtracks WHERE tracks.name = (jtracks.body->>'name') ORDER BY total DESC LIMIT 10;

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
10 rows affected.

[(2950, 'Spanish Eyes', Decimal('0.99'), '375', Decimal('371.25')),
 (2173, 'Gone', Decimal('0.99'), '362', Decimal('358.38')),
 (2981, 'Gone', Decimal('0.99'), '362', Decimal('358.38')),
 (1045, 'Fly Me To The Moon', Decimal('0.99'), '275', Decimal('272.25')),
 (2956, 'Unchained Melody', Decimal('0.99'), '265', Decimal('262.35')),
 (1612, 'The Battle Of Evermore', Decimal('0.99'), '110', Decimal('108.90')),
 (1580, 'Black Dog', Decimal('0.99'), '109', Decimal('107.91')),
 (1662, 'Rock & Roll', Decimal('0.99'), '109', Decimal('107.91')),
 (1611, 'Rock & Roll', Decimal('0.99'), '109', Decimal('107.91')),
 (1610, 'Black Dog', Decimal('0.99'), '109', Decimal('107.91'))]

### Most valued artists

Similar to the previous question but grouped by the corresponding artist: Using the some information in jtracks, group the total amount by the artist name.

Your result should look like:

| artist_name | total | 
|-------------|-------|
| AC/DC       | 312.23|
| Rammstein   | 200.21|
| Queens      |  33.12|

In [14]:

%sql SELECT jtracks.body->>'artist' artist,SUM(tracks.unit_price * (jtracks.body->>'count')::numeric) AS total FROM tracks, jtracks WHERE tracks.name = (jtracks.body->>'name')  GROUP BY artist ORDER BY total DESC LIMIT 10;

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
10 rows affected.

[('Led Zeppelin', Decimal('1267.20')),
 ('Hollie Smith', Decimal('716.76')),
 ('David Osborne', Decimal('534.60')),
 ('La Esperanza', Decimal('371.25')),
 ('Queen', Decimal('323.73')),
 ('Black Sabbath', Decimal('109.89')),
 ('Bryan Lee', Decimal('94.05')),
 ('AC/DC', Decimal('83.16')),
 ('The Who', Decimal('44.55')),
 ('Fairly Legal', Decimal('1.99'))]

### Missing talent

There are some artists that are not in our music-store. Of those missing in our music-store, figure out the ones that should be signed us.

Query the top 5 artists that have the most total count and are not in our music store. Order your result descending.

In [ ]:
%sql SELECT jtracks.body->>'artist' AS artist, SUM((jtracks.body->>'count')::numeric) AS total FROM jtracks WHERE jtracks.body->>'artist' NOT IN (SELECT artists.name FROM artists) GROUP BY artist ORDER BY total DESC LIMIT 5;

## Part 2.) Data Ingestion from NYT API

We ask you to write an application that fetches data from the NYT API (https://developer.nytimes.com/apis) and subsequently run some queries against your dataset.
In order to be able to access the NYT API, you'll have to set up an account. After setting up your account, you should be able to fetch data from the REST API using the provided api key. 
In order to figure out how to provide answers to the following tasks, you'll have to work through to API documentation on your own.
You are allowed to use any python 3rd party libraries you want. Be sure to upload this notebook and your python source code + requirements.txt to moodle. 
Carefully think whether you want to store the whole data returned from an api request or only a fraction of it. 
You will either have to store the data in your docker database or in a custom database. (This will be decided by the end of the last lecture).

You shall provide the sql query that answers the following questions

### Number of most viewed
How many most viewed articles have been there within the last 30 days?

In [5]:
from helper import *
insertNYTMostViewed(period = 30, force = True,table="ds22m031nytmostviewed")

Table ds22m031nytmostviewed created
viewed
Data inserted

True

In [6]:

from helper import *
from tabulate import tabulate
sql = executeSQL("SELECT count(*) FROM ds22m031nytmostviewed")
#print as table
print(tabulate(sql, headers = ["count"], tablefmt = "psql"))

+---------+
|   count |
|---------|
|      20 |
+---------+

### Section and subsection of most viewed articles

Of all most viewed articles within the last 30 days, what where the numbers of articles per section and subsection?


Your result should look like the following:


| Section | subsection | number | 
|------------|---------|--------|
| U.S.       |Politics |5       |
| U.S.       |         |2       |
| Business   |         |3       |
| Opinion    |         |2       |

In [7]:
#Of all most viewed articles within the last 30 days, what where the numbers of articles per section and subsection? (Hint: use the JSONB data type)
from tabulate import tabulate
sql= (executeSQL("SELECT body->>'section' AS section, body->>'subsection' AS subsection, COUNT(*)"+
                " FROM ds22m031nytmostviewed GROUP BY section, subsection ORDER BY count DESC"))
#print as table
print(tabulate(sql, headers = ["section", "subsection", "count"], tablefmt = "psql"))

+-------------+--------------+---------+
| section     | subsection   |   count |
|-------------+--------------+---------|
| U.S.        |              |       5 |
| Technology  |              |       4 |
| Arts        | Music        |       2 |
| Sports      | Soccer       |       1 |
| Style       |              |       1 |
| U.S.        | Politics     |       1 |
| Food        |              |       1 |
| Real Estate |              |       1 |
| Fashion     | Love         |       1 |
| Science     |              |       1 |
| Sports      | N.B.A.       |       1 |
| Arts        | Television   |       1 |
+-------------+--------------+---------+

## Most viewed vs most shared

Of all most viewed and most shared sections, compare the number of shared and viewed articles per section within the last 30 days.


Your result shall look like the following: (notice '0' if a section does not occur within a type)


| Section    | type    | number | 
|------------|---------|--------|
| U.S.       |shared   |5       |
| U.S.       |viewed   |3       |
| Opinion    |shared   |2       | 
| Opinion    |viewed   |0       |

In [8]:
from helper import *

insertNYTMostViewed(period = 30, force = True, param1 = "shared", table = "ds22m031mostsharedRies")

Table ds22m031mostsharedRies created
shared
Data inserted

True

In [9]:
sql= (executeSQL("SELECT body->>'section' AS section, body->>'subsection' AS subsection, COUNT(*)"+
                " FROM ds22m031mostsharedRies GROUP BY section, subsection ORDER BY count DESC"))
#print as table
print(tabulate(sql, headers = ["section", "subsection", "count"], tablefmt = "psql"))

+-----------+--------------+---------+
| section   | subsection   |   count |
|-----------+--------------+---------|
| U.S.      |              |       8 |
| U.S.      | Politics     |       3 |
| Food      |              |       2 |
| Sports    |              |       1 |
| Arts      | Television   |       1 |
| New York  |              |       1 |
| Business  | Media        |       1 |
| Fashion   | Love         |       1 |
| World     | Europe       |       1 |
| Science   |              |       1 |
+-----------+--------------+---------+

In [13]:

import pandas as pd
#select most viewed and most shared articles
sql = (executeSQL("SELECT body->>'section' AS section, body->>'subsection' AS subsection, COUNT(*)"+
                " FROM ds22m031nytmostviewed GROUP BY section, subsection ORDER BY count DESC"))
sql2 = (executeSQL("SELECT body->>'section' AS section, body->>'subsection' AS subsection, COUNT(*)"+
                " FROM ds22m031mostsharedRies GROUP BY section, subsection ORDER BY count DESC"))

#convert to dataframe
df = pd.DataFrame(sql, columns = ["section", "subsection", "count"])
df2 = pd.DataFrame(sql2, columns = ["section", "subsection", "count"])

#merge dataframes
df = pd.merge(df, df2, on = ["section", "subsection"], how = "outer")
df = df.fillna(0)

#print df as table
print(tabulate(df, headers = ["section", "subsection", "Viewed Count", "Shared Count"], tablefmt = "psql"))

+----+-------------+--------------+----------------+----------------+
|    | section     | subsection   |   Viewed Count |   Shared Count |
|----+-------------+--------------+----------------+----------------|
|  0 | U.S.        |              |              5 |              8 |
|  1 | Technology  |              |              4 |              0 |
|  2 | Arts        | Music        |              2 |              0 |
|  3 | Sports      | Soccer       |              1 |              0 |
|  4 | Style       |              |              1 |              0 |
|  5 | U.S.        | Politics     |              1 |              3 |
|  6 | Food        |              |              1 |              2 |
|  7 | Real Estate |              |              1 |              0 |
|  8 | Fashion     | Love         |              1 |              1 |
|  9 | Science     |              |              1 |              1 |
| 10 | Sports      | N.B.A.       |              1 |              0 |
| 11 | Arts        | Television   |              1 |              1 |
| 12 | Sports      |              |              0 |              1 |
| 13 | New York    |              |              0 |              1 |
| 14 | Business    | Media        |              0 |              1 |
| 15 | World       | Europe       |              0 |              1 |
+----+-------------+--------------+----------------+----------------+

### Be creative

Last but not least, we want you to think of any interesting information you'd like to evaluate using the NYT API.
What kind of information might be interesting to know? - You don't need to put too much thought into the question you'd like to answer, but be creative!

There's only one catch! - You must use a different category, e.g. top stories, books, movies,...

The question you would like to answer = find the books categories with the latest releases

[QUESTION]

In [15]:

insertNYTBestsellerListNames()
sql = executeSQL("SELECT body->>'list_name' As Category, body->>'newest_published_date' AS Last_Publish FROM ds22m032_bestsellerries ORDER BY (body->>'newest_published_date')::date ASC    ")
#sql as table
print(tabulate(sql, headers = ["Category", "Last_Release"], tablefmt = "psql"))

Data inserted
+--------------------------------------+----------------+
| Category                             | Last_Release   |
|--------------------------------------+----------------|
| Paperback Books                      | 2012-12-09     |
| Chapter Books                        | 2012-12-09     |
| Paperback Books                      | 2012-12-09     |
| Chapter Books                        | 2012-12-09     |
| Chapter Books                        | 2012-12-09     |
| Paperback Books                      | 2012-12-09     |
| Chapter Books                        | 2012-12-09     |
| Paperback Books                      | 2012-12-09     |
| Chapter Books                        | 2012-12-09     |
| Paperback Books                      | 2012-12-09     |
| Hardcover Advice                     | 2013-04-21     |
| Paperback Advice                     | 2013-04-21     |
| Hardcover Advice                     | 2013-04-21     |
| Hardcover Advice                     | 2013-04-21     |
| Paperback Advice                     | 2013-04-21     |
| Hardcover Advice                     | 2013-04-21     |
| Paperback Advice                     | 2013-04-21     |
| Paperback Advice                     | 2013-04-21     |
| Paperback Advice                     | 2013-04-21     |
| Hardcover Advice                     | 2013-04-21     |
| Combined Print Fiction               | 2013-05-12     |
| Combined Print Nonfiction            | 2013-05-12     |
| Combined Print Fiction               | 2013-05-12     |
| Combined Print Nonfiction            | 2013-05-12     |
| Combined Print Nonfiction            | 2013-05-12     |
| Combined Print Fiction               | 2013-05-12     |
| Combined Print Fiction               | 2013-05-12     |
| Combined Print Fiction               | 2013-05-12     |
| Combined Print Nonfiction            | 2013-05-12     |
| Combined Print Nonfiction            | 2013-05-12     |
| Paperback Business Books             | 2013-10-13     |
| Paperback Business Books             | 2013-10-13     |
| Hardcover Business Books             | 2013-10-13     |
| Paperback Business Books             | 2013-10-13     |
| Hardcover Business Books             | 2013-10-13     |
| Paperback Business Books             | 2013-10-13     |
| Paperback Business Books             | 2013-10-13     |
| Hardcover Business Books             | 2013-10-13     |
| Hardcover Business Books             | 2013-10-13     |
| Hardcover Business Books             | 2013-10-13     |
| Childrens Middle Grade               | 2015-08-23     |
| Young Adult                          | 2015-08-23     |
| Young Adult                          | 2015-08-23     |
| Childrens Middle Grade               | 2015-08-23     |
| Young Adult                          | 2015-08-23     |
| Childrens Middle Grade               | 2015-08-23     |
| Childrens Middle Grade               | 2015-08-23     |
| Young Adult                          | 2015-08-23     |
| Childrens Middle Grade               | 2015-08-23     |
| Young Adult                          | 2015-08-23     |
| Indigenous Americans                 | 2016-01-10     |
| Indigenous Americans                 | 2016-01-10     |
| Indigenous Americans                 | 2016-01-10     |
| Indigenous Americans                 | 2016-01-10     |
| Indigenous Americans                 | 2016-01-10     |
| Food and Fitness                     | 2017-01-15     |
| Animals                              | 2017-01-15     |
| Celebrities                          | 2017-01-15     |
| Crime and Punishment                 | 2017-01-15     |
| Culture                              | 2017-01-15     |
| Education                            | 2017-01-15     |
| Espionage                            | 2017-01-15     |
| Expeditions Disasters and Adventures | 2017-01-15     |
| Fashion Manners and Customs          | 2017-01-15     |
| Food and Fitness                     | 2017-01-15     |
| Games and Activities                 | 2017-01-15     |
| Health                               | 2017-01-15     |
| Humor                                | 2017-01-15     |
| Relationships                        | 2017-01-15     |
| Family                               | 2017-01-15     |
| Hardcover Political Books            | 2017-01-15     |
| Race and Civil Rights                | 2017-01-15     |
| Religion Spirituality and Faith      | 2017-01-15     |
| Travel                               | 2017-01-15     |
| Animals                              | 2017-01-15     |
| Celebrities                          | 2017-01-15     |
| Crime and Punishment                 | 2017-01-15     |
| Culture                              | 2017-01-15     |
| Education                            | 2017-01-15     |
| Espionage                            | 2017-01-15     |
| Expeditions Disasters and Adventures | 2017-01-15     |
| Fashion Manners and Customs          | 2017-01-15     |
| Food and Fitness                     | 2017-01-15     |
| Games and Activities                 | 2017-01-15     |
| Health                               | 2017-01-15     |
| Humor                                | 2017-01-15     |
| Relationships                        | 2017-01-15     |
| Family                               | 2017-01-15     |
| Hardcover Political Books            | 2017-01-15     |
| Race and Civil Rights                | 2017-01-15     |
| Religion Spirituality and Faith      | 2017-01-15     |
| Travel                               | 2017-01-15     |
| Animals                              | 2017-01-15     |
| Celebrities                          | 2017-01-15     |
| Crime and Punishment                 | 2017-01-15     |
| Culture                              | 2017-01-15     |
| Animals                              | 2017-01-15     |
| Celebrities                          | 2017-01-15     |
| Crime and Punishment                 | 2017-01-15     |
| Culture                              | 2017-01-15     |
| Education                            | 2017-01-15     |
| Espionage                            | 2017-01-15     |
| Expeditions Disasters and Adventures | 2017-01-15     |
| Fashion Manners and Customs          | 2017-01-15     |
| Food and Fitness                     | 2017-01-15     |
| Games and Activities                 | 2017-01-15     |
| Health                               | 2017-01-15     |
| Humor                                | 2017-01-15     |
| Relationships                        | 2017-01-15     |
| Family                               | 2017-01-15     |
| Hardcover Political Books            | 2017-01-15     |
| Race and Civil Rights                | 2017-01-15     |
| Religion Spirituality and Faith      | 2017-01-15     |
| Travel                               | 2017-01-15     |
| Education                            | 2017-01-15     |
| Espionage                            | 2017-01-15     |
| Expeditions Disasters and Adventures | 2017-01-15     |
| Fashion Manners and Customs          | 2017-01-15     |
| Games and Activities                 | 2017-01-15     |
| Health                               | 2017-01-15     |
| Humor                                | 2017-01-15     |
| Relationships                        | 2017-01-15     |
| Family                               | 2017-01-15     |
| Hardcover Political Books            | 2017-01-15     |
| Race and Civil Rights                | 2017-01-15     |
| Religion Spirituality and Faith      | 2017-01-15     |
| Travel                               | 2017-01-15     |
| Animals                              | 2017-01-15     |
| Celebrities                          | 2017-01-15     |
| Crime and Punishment                 | 2017-01-15     |
| Culture                              | 2017-01-15     |
| Education                            | 2017-01-15     |
| Espionage                            | 2017-01-15     |
| Expeditions Disasters and Adventures | 2017-01-15     |
| Fashion Manners and Customs          | 2017-01-15     |
| Food and Fitness                     | 2017-01-15     |
| Games and Activities                 | 2017-01-15     |
| Health                               | 2017-01-15     |
| Humor                                | 2017-01-15     |
| Relationships                        | 2017-01-15     |
| Family                               | 2017-01-15     |
| Hardcover Political Books            | 2017-01-15     |
| Race and Civil Rights                | 2017-01-15     |
| Religion Spirituality and Faith      | 2017-01-15     |
| Travel                               | 2017-01-15     |
| Childrens Middle Grade Paperback     | 2017-01-29     |
| Mass Market Paperback                | 2017-01-29     |
| Hardcover Graphic Books              | 2017-01-29     |
| E-Book Nonfiction                    | 2017-01-29     |
| Childrens Middle Grade Paperback     | 2017-01-29     |
| Childrens Middle Grade Paperback     | 2017-01-29     |
| Childrens Middle Grade E-Book        | 2017-01-29     |
| E-Book Fiction                       | 2017-01-29     |
| Young Adult E-Book                   | 2017-01-29     |
| Manga                                | 2017-01-29     |
| Manga                                | 2017-01-29     |
| E-Book Nonfiction                    | 2017-01-29     |
| E-Book Fiction                       | 2017-01-29     |
| Childrens Middle Grade E-Book        | 2017-01-29     |
| Childrens Middle Grade E-Book        | 2017-01-29     |
| Paperback Graphic Books              | 2017-01-29     |
| Young Adult Paperback                | 2017-01-29     |
| Young Adult E-Book                   | 2017-01-29     |
| Mass Market Paperback                | 2017-01-29     |
| E-Book Nonfiction                    | 2017-01-29     |
| E-Book Fiction                       | 2017-01-29     |
| Young Adult Paperback                | 2017-01-29     |
| Hardcover Graphic Books              | 2017-01-29     |
| Mass Market Paperback                | 2017-01-29     |
| Mass Market Paperback                | 2017-01-29     |
| Manga                                | 2017-01-29     |
| Mass Market Paperback                | 2017-01-29     |
| Paperback Graphic Books              | 2017-01-29     |
| E-Book Fiction                       | 2017-01-29     |
| E-Book Nonfiction                    | 2017-01-29     |
| Young Adult Paperback                | 2017-01-29     |
| Hardcover Graphic Books              | 2017-01-29     |
| Paperback Graphic Books              | 2017-01-29     |
| Manga                                | 2017-01-29     |
| Manga                                | 2017-01-29     |
| Childrens Middle Grade E-Book        | 2017-01-29     |
| Childrens Middle Grade Paperback     | 2017-01-29     |
| Young Adult Paperback                | 2017-01-29     |
| Childrens Middle Grade E-Book        | 2017-01-29     |
| Childrens Middle Grade Paperback     | 2017-01-29     |
| Paperback Graphic Books              | 2017-01-29     |
| Young Adult E-Book                   | 2017-01-29     |
| Young Adult E-Book                   | 2017-01-29     |
| Young Adult Paperback                | 2017-01-29     |
| Hardcover Graphic Books              | 2017-01-29     |
| Young Adult E-Book                   | 2017-01-29     |
| E-Book Fiction                       | 2017-01-29     |
| E-Book Nonfiction                    | 2017-01-29     |
| Hardcover Graphic Books              | 2017-01-29     |
| Paperback Graphic Books              | 2017-01-29     |
| Science                              | 2019-09-15     |
| Sports                               | 2019-09-15     |
| Science                              | 2019-09-15     |
| Sports                               | 2019-09-15     |
| Sports                               | 2019-09-15     |
| Sports                               | 2019-09-15     |
| Science                              | 2019-09-15     |
| Sports                               | 2019-09-15     |
| Science                              | 2019-09-15     |
| Science                              | 2019-09-15     |
| Mass Market Monthly                  | 2022-11-13     |
| Middle Grade Paperback Monthly       | 2022-11-13     |
| Audio Fiction                        | 2022-11-13     |
| Audio Nonfiction                     | 2022-11-13     |
| Business Books                       | 2022-11-13     |
| Mass Market Monthly                  | 2022-11-13     |
| Graphic Books and Manga              | 2022-11-13     |
| Business Books                       | 2022-11-13     |
| Audio Nonfiction                     | 2022-11-13     |
| Audio Fiction                        | 2022-11-13     |
| Audio Fiction                        | 2022-11-13     |
| Audio Nonfiction                     | 2022-11-13     |
| Business Books                       | 2022-11-13     |
| Graphic Books and Manga              | 2022-11-13     |
| Mass Market Monthly                  | 2022-11-13     |
| Middle Grade Paperback Monthly       | 2022-11-13     |
| Young Adult Paperback Monthly        | 2022-11-13     |
| Audio Fiction                        | 2022-11-13     |
| Audio Nonfiction                     | 2022-11-13     |
| Business Books                       | 2022-11-13     |
| Graphic Books and Manga              | 2022-11-13     |
| Audio Fiction                        | 2022-11-13     |
| Audio Nonfiction                     | 2022-11-13     |
| Business Books                       | 2022-11-13     |
| Graphic Books and Manga              | 2022-11-13     |
| Young Adult Paperback Monthly        | 2022-11-13     |
| Mass Market Monthly                  | 2022-11-13     |
| Middle Grade Paperback Monthly       | 2022-11-13     |
| Graphic Books and Manga              | 2022-11-13     |
| Mass Market Monthly                  | 2022-11-13     |
| Middle Grade Paperback Monthly       | 2022-11-13     |
| Middle Grade Paperback Monthly       | 2022-11-13     |
| Young Adult Paperback Monthly        | 2022-11-13     |
| Young Adult Paperback Monthly        | 2022-11-13     |
| Young Adult Paperback Monthly        | 2022-11-13     |
| Hardcover Nonfiction                 | 2022-12-04     |
| Hardcover Fiction                    | 2022-12-04     |
| Combined Print and E-Book Nonfiction | 2022-12-04     |
| Combined Print and E-Book Fiction    | 2022-12-04     |
| Childrens Middle Grade Hardcover     | 2022-12-04     |
| Advice How-To and Miscellaneous      | 2022-12-04     |
| Hardcover Nonfiction                 | 2022-12-04     |
| Paperback Nonfiction                 | 2022-12-04     |
| Combined Print and E-Book Nonfiction | 2022-12-04     |
| Combined Print and E-Book Fiction    | 2022-12-04     |
| Paperback Nonfiction                 | 2022-12-04     |
| Advice How-To and Miscellaneous      | 2022-12-04     |
| Advice How-To and Miscellaneous      | 2022-12-04     |
| Combined Print and E-Book Nonfiction | 2022-12-04     |
| Trade Fiction Paperback              | 2022-12-04     |
| Hardcover Fiction                    | 2022-12-04     |
| Young Adult Hardcover                | 2022-12-04     |
| Hardcover Nonfiction                 | 2022-12-04     |
| Series Books                         | 2022-12-04     |
| Combined Print and E-Book Fiction    | 2022-12-04     |
| Picture Books                        | 2022-12-04     |
| Hardcover Fiction                    | 2022-12-04     |
| Picture Books                        | 2022-12-04     |
| Young Adult Hardcover                | 2022-12-04     |
| Young Adult Hardcover                | 2022-12-04     |
| Series Books                         | 2022-12-04     |
| Childrens Middle Grade Hardcover     | 2022-12-04     |
| Advice How-To and Miscellaneous      | 2022-12-04     |
| Paperback Nonfiction                 | 2022-12-04     |
| Childrens Middle Grade Hardcover     | 2022-12-04     |
| Hardcover Fiction                    | 2022-12-04     |
| Hardcover Nonfiction                 | 2022-12-04     |
| Trade Fiction Paperback              | 2022-12-04     |
| Combined Print and E-Book Fiction    | 2022-12-04     |
| Combined Print and E-Book Nonfiction | 2022-12-04     |
| Hardcover Fiction                    | 2022-12-04     |
| Hardcover Nonfiction                 | 2022-12-04     |
| Trade Fiction Paperback              | 2022-12-04     |
| Trade Fiction Paperback              | 2022-12-04     |
| Paperback Nonfiction                 | 2022-12-04     |
| Combined Print and E-Book Fiction    | 2022-12-04     |
| Combined Print and E-Book Nonfiction | 2022-12-04     |
| Advice How-To and Miscellaneous      | 2022-12-04     |
| Young Adult Hardcover                | 2022-12-04     |
| Trade Fiction Paperback              | 2022-12-04     |
| Series Books                         | 2022-12-04     |
| Childrens Middle Grade Hardcover     | 2022-12-04     |
| Picture Books                        | 2022-12-04     |
| Paperback Nonfiction                 | 2022-12-04     |
| Picture Books                        | 2022-12-04     |
| Series Books                         | 2022-12-04     |
| Picture Books                        | 2022-12-04     |
| Childrens Middle Grade Hardcover     | 2022-12-04     |
| Young Adult Hardcover                | 2022-12-04     |
| Series Books                         | 2022-12-04     |
+--------------------------------------+----------------+