# Assignment 2

### Leveraging NoSQL functionality in a RDBMS

In our last lecturer we have discovered that we can easily blend json and sql data using PostgreSQL's JSONB datatype and its operators.

Part 1.) Now it's your task to provide some answers using the migrated json data. 

Part 2.) Ingest data from an external service. Import data from the New York Times API

In [ ]:
%load_ext sql
%sql postgresql://ds22m031:SVD489JK@mds-dsi-db.postgres.database.azure.com/music-store
%sql CREATE TABLE IF NOT EXISTS jtracks(id SERIAL, body JSONB);
%sql copy jtracks(body)	FROM 'library.json'

## Part 1.) Query jtracks data

Now that we have received information from our 3rd party seller. We would like to evaluate the data and generate some reports.

### Most popular artists
_Which artists have been listened to most often and how often?_

In [10]:
%sql SELECT body->>'artist' AS artist, COUNT(*) AS count FROM jtracks GROUP BY body->>'artist' ORDER BY count DESC LIMIT 10;

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
10 rows affected.

[('IEEE Computer Society', 34),
 ('Recording by Dr. Chuck', 33),
 ('The Canettes Blues Band', 16),
 ('Created by Sakai', 16),
 ('Kaiser Chiefs', 15),
 ('David Osborne', 14),
 ('Disturbed', 12),
 ('Frank Sinatra', 12),
 ('Bryan Lee', 12),
 ('Rammstein', 11)]

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
(psycopg2.errors.InsufficientPrivilege) must be superuser or a member of the pg_read_server_files role to COPY from a file
HINT:  Anyone can COPY to stdout or from stdin. psql's \copy command also works for anyone.

[SQL: copy jtracks(body) FROM 'library.json']
(Background on this error at: https://sqlalche.me/e/14/f405)

### Generate an invoice report

The "counts" field represents the number a specific track has been listened to.
Based on the on the pricing information in the tracks table in, generate a report that calculates the total value per track.

One count equals one single order. 


Further Explanation: If the price of a single track is 0.99 and its count equals 10, the total equals 9.90.

In [12]:
%sql SELECT tracks.id, tracks.name, tracks.unit_price, jtracks.body->>'count' AS count, tracks.unit_price * (jtracks.body->>'count')::numeric AS total FROM tracks, jtracks WHERE tracks.name = (jtracks.body->>'name') ORDER BY total DESC LIMIT 10;

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
10 rows affected.

[(2950, 'Spanish Eyes', Decimal('0.99'), '375', Decimal('371.25')),
 (2173, 'Gone', Decimal('0.99'), '362', Decimal('358.38')),
 (2981, 'Gone', Decimal('0.99'), '362', Decimal('358.38')),
 (1045, 'Fly Me To The Moon', Decimal('0.99'), '275', Decimal('272.25')),
 (2956, 'Unchained Melody', Decimal('0.99'), '265', Decimal('262.35')),
 (1612, 'The Battle Of Evermore', Decimal('0.99'), '110', Decimal('108.90')),
 (1580, 'Black Dog', Decimal('0.99'), '109', Decimal('107.91')),
 (1662, 'Rock & Roll', Decimal('0.99'), '109', Decimal('107.91')),
 (1611, 'Rock & Roll', Decimal('0.99'), '109', Decimal('107.91')),
 (1610, 'Black Dog', Decimal('0.99'), '109', Decimal('107.91'))]

### Most valued artists

Similar to the previous question but grouped by the corresponding artist: Using the some information in jtracks, group the total amount by the artist name.

Your result should look like:

| artist_name | total | 
|-------------|-------|
| AC/DC       | 312.23|
| Rammstein   | 200.21|
| Queens      |  33.12|

In [14]:

%sql SELECT jtracks.body->>'artist' artist,SUM(tracks.unit_price * (jtracks.body->>'count')::numeric) AS total FROM tracks, jtracks WHERE tracks.name = (jtracks.body->>'name')  GROUP BY artist ORDER BY total DESC LIMIT 10;

 * postgresql://ds22m031:***@mds-dsi-db.postgres.database.azure.com/music-store
10 rows affected.

[('Led Zeppelin', Decimal('1267.20')),
 ('Hollie Smith', Decimal('716.76')),
 ('David Osborne', Decimal('534.60')),
 ('La Esperanza', Decimal('371.25')),
 ('Queen', Decimal('323.73')),
 ('Black Sabbath', Decimal('109.89')),
 ('Bryan Lee', Decimal('94.05')),
 ('AC/DC', Decimal('83.16')),
 ('The Who', Decimal('44.55')),
 ('Fairly Legal', Decimal('1.99'))]

### Missing talent

There are some artists that are not in our music-store. Of those missing in our music-store, figure out the ones that should be signed us.

Query the top 5 artists that have the most total count and are not in our music store. Order your result descending.

In [ ]:
%sql SELECT jtracks.body->>'artist' AS artist, SUM((jtracks.body->>'count')::numeric) AS total FROM jtracks WHERE jtracks.body->>'artist' NOT IN (SELECT artists.name FROM artists) GROUP BY artist ORDER BY total DESC LIMIT 5;

## Part 2.) Data Ingestion from NYT API

We ask you to write an application that fetches data from the NYT API (https://developer.nytimes.com/apis) and subsequently run some queries against your dataset.
In order to be able to access the NYT API, you'll have to set up an account. After setting up your account, you should be able to fetch data from the REST API using the provided api key. 
In order to figure out how to provide answers to the following tasks, you'll have to work through to API documentation on your own.
You are allowed to use any python 3rd party libraries you want. Be sure to upload this notebook and your python source code + requirements.txt to moodle. 
Carefully think whether you want to store the whole data returned from an api request or only a fraction of it. 
You will either have to store the data in your docker database or in a custom database. (This will be decided by the end of the last lecture).

You shall provide the sql query that answers the following questions

### Number of most viewed
How many most viewed articles have been there within the last 30 days?

In [11]:
from helper import *
insertNYTMostViewed(period = 30, force = True)

NameError: name 'insertNYTMostViewed' is not defined

AttributeError: module 'hidden' has no attribute 'getApi'

### Section and subsection of most viewed articles

Of all most viewed articles within the last 30 days, what where the numbers of articles per section and subsection?


Your result should look like the following:


| Section | subsection | number | 
|------------|---------|--------|
| U.S.       |Politics |5       |
| U.S.       |         |2       |
| Business   |         |3       |
| Opinion    |         |2       |

## Most viewed vs most shared

Of all most viewed and most shared sections, compare the number of shared and viewed articles per section within the last 30 days.


Your result shall look like the following: (notice '0' if a section does not occur within a type)


| Section    | type    | number | 
|------------|---------|--------|
| U.S.       |shared   |5       |
| U.S.       |viewed   |3       |
| Opinion    |shared   |2       | 
| Opinion    |viewed   |0       |

### Be creative

Last but not least, we want you to think of any interesting information you'd like to evaluate using the NYT API.
What kind of information might be interesting to know? - You don't need to put too much thought into the question you'd like to answer, but be creative!

There's only one catch! - You must use a different category, e.g. top stories, books, movies,...

The question you would like to answer =

[QUESTION]